/* GENERALE */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 1920px;
}

.boxed{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
}

.whitetext{
    color: white;
}


/* HEADER */

header{
    background-color: #ff6900;
    min-height: 80px;
}

.nav{
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

.categ{
    font-weight: 600;
}

#logo{
    height: 30px;
}

.navicons{
    justify-content: space-between;
    width: 60px;
}

/* MAIN */

.SizeScatola{
    height: 556px;
    background-size: cover;
    cursor: pointer;
}

.opacity{
    opacity: 1;
}

.SizeScatola:hover{
opacity: 0;
}

.FontMarca{
    font-size: 12px;
    padding-top: 5px;
}

.FontProduct{
    font-size: 17px;
    font-weight: 700;
}

.FontPrice{
    font-size: 12px;
    color: red;
    padding-bottom: 40px;
}

span{
    color: black;
    text-decoration: line-through;
}

#cardstructure{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    position: relative

}

.cardsize{
    width: 385px;
}


#ScatolaCard1{
    background-image: url(./img/1b.webp);
}

#ScatolaCard2{
    background-image: url(./img/2b.webp);
}

#ScatolaCard3{
    background-image: url(./img/3b.webp);
}

#ScatolaCard4{
    background-image: url(./img/4b.webp);
}

#ScatolaCard5{
    background-image: url(./img/5b.webp);
}

#ScatolaCard6{
    background-image: url(./img/6b.webp);
}

/* FOOTER */

footer{
    background-color: #1a1a1a;
    height: 110px;
}

#ScatolaFooter{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.inline{
    display: inline;
    padding-right: 10px;
    padding-top: 10px;
}

#BoolandoFooter{
    padding-bottom: 10px;
}
